
.home-wrapper {
  margin-top: 40px;

  .global-title {
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    @media (min-width: 1279px) {
      justify-content: flex-start;
    }
  }
}

.photography-mobile-title {
  color: #BEBFC1;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  @media (min-width: 1279px) {
    display: none;
  }
}

.home-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @media (min-width: 1279px) {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }


  .text-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    width: 100%;
    @media (min-width: 1279px) {
      width: 500px;
    }
    @media (min-width: 1440px) {
      width: 560px;
    }

    .photography-title {
      display: none;
      color: #BEBFC1;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (min-width: 1279px) {
        display: block;
      }
    }

    .subtitle {
      color: #BEBFC1;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      margin: 60px 0 30px 0;
      line-height: 18px;
      font-size: 14px;

      @media (min-width: 1279px) {
        margin: 60px 0 58px 0;
        font-size: 26px;
        text-align: right;
        line-height: 29px;
      }
    }

    input {
      background: #E4E4E4;
      border: none;
      padding: 16px;
      height: 40px;
      color: rgba(0, 0, 0, 0.50);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: start;
      outline: none;

      @media (min-width: 1279px) {
        height: 50px;
      }
    }

    button {
      background: transparent;
      margin-top: 14px;
      border-right: 2px solid #B98C33;
      border-left: 2px solid #B98C33;
      border-top: 0.5px solid #B98C33;
      border-bottom: 0.5px solid #B98C33;
      height: 50px;
      color: #BEBFC1;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media (min-width: 1279px) {
        margin-top: 34px;
        height: 86px;
        font-size: 30px;
      }

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #BEBFC1;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
    }

    button:hover {
      background: #B98C33;
    }
  }


  .image-side {
    position: relative;
    margin-left: -20px;

    @media (min-width: 1279px) {
      margin-left: 0;
    }
    .image-wrapper-gold {
      border: 1px solid #B98C33;
      width: 290px;
      height: 460px;

      @media (min-width: 1279px) {
        height: 730px;
        width: 450px;
      }

      @media (min-width: 1440px) {
        height: 807px;
        width: 500px;
      }
    }

    .image-wrapper-gray {
      border: 1px solid #BEBFC1;
      width: 290px;
      height: 460px;
      position: absolute;
      margin-left: 20px;
      margin-top: 20px;

      @media (min-width: 1279px) {
        width: 450px;
        height: 660px;
        margin-left: 35px;
        margin-top: 35px;

      }

      @media (min-width: 1440px) {
        width: 500px;
        height: 807px;
        margin-left: 35px;
        margin-top: 35px;

      }

      img {
        margin-left: 20px;
        margin-top: 20px;
        width: 230px;
        height: 403px;
        object-fit: cover;

        @media (min-width: 1279px) {
          width: 330px;
          height: 600px;
          margin-left: 40px;
          margin-top: 30px;
        }

        @media (min-width: 1440px) {
          width: 396px;
          height: 652px;
          margin-left: 35px;
          margin-top: 60px;
        }

      }
    }
  }
}


.gallery-wrapper {
  margin-top: 90px;


  .carousel{
    position: relative;
  }

  .passive-class {
    width: 280px;
    height: 350px;
    border: 1px solid #B98C33;

    img {
      width: 280px;
      height: 350px;
    }
  }

  .active-class {
    width: 367px;
    height: 545px;
    padding-top: 32px;
    border: 1px solid #B98C33;

    img {
      width: 303px;
      height: 481px;
    }
  }

  .carousel__inner-slide{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-slice-wrapper{
    display: flex;
    align-items: center;
  }
  .not-current-img{
    width: 250px;
    height: 380px;
    flex-shrink: 0;
    margin-right: 12px;
    border: 1px solid #B98C33;
    object-fit: cover;
    position: relative;
    z-index: 2;

    @media (min-width: 1279px) {
      width: 250px;
      height: 350px;
    }
  }
  .current-img{
    width: 250px;
    height: 350px;
    padding: 32px;
    border: 1px solid #B98C33;
    background: #363435;
    object-fit: cover;
    position: relative;
    z-index: 5;
    margin-right: 16px;
    @media (min-width: 1279px) {
      width: 367px;
      height: 545px;
      margin-right: 0px;
    }
  }

  .carousel__slide--visible{
    @media (max-width: 1279px) {
      .current-img {
        width: 250px;
        height: 380px;
        flex-shrink: 0;
        margin-right: 12px;
        border: 1px solid #B98C33;
        object-fit: cover;
        position: relative;
        z-index: 2;

        @media (min-width: 1279px) {
          width: 250px;
          height: 350px;
        }
      }
    }
  }
  .carousel__slide--hidden{
    @media (max-width: 1279px) {
      .current-img {
        width: 247px;
        height: 309px;
        padding: 0;
        border: 1px solid #B98C33;
        background: #363435;
        object-fit: cover;
        position: relative;
        z-index: 5;
        margin-right: 16px;

        @media (min-width: 1279px) {
          width: 367px;
          height: 545px;
          margin-right: 0px;
        }
      }
    }
  }

  .prev-btn{
    background: transparent;
    border: none;
    position: absolute;
    margin-left: -80px;
    margin-top: 300px;
  }

  .next-btn{
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin-top: 300px;
    margin-right: -20px;
    z-index: 10;
  }
  .slider-count{
    display: flex;
    justify-content: center;
    width: 100%;

    .carousel__dot{
      height: 1px;
      background: #BEBFC1;
      width: 20px;
      border: none;

      @media (min-width: 1279px) {
        width: 100px;
      }
    }

    .carousel__dot--selected{
      height: 4px;
      background: #B98C33;
      width: 20px;
      border-radius: 6px;
      border: none;

      @media (min-width: 1279px) {
        width: 100px;
      }

    }
  }
}

.halls-wrapper {
  margin-top: 50px;


  .hall-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1279px) {
      margin-top: 40px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

    }

  }

  .hall-items {
    margin-top: 20px;
    @media (min-width: 1279px) {
      margin-top: 0;
    }
  }

  .hall-item {
    width: 300px;
    height: 310px;
    padding: 20px;
    border: 1px solid #B98C33;
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 1279px) {
      margin-bottom: 0;
      width: 500px;
      height: 550px;
      padding: 30px;
    }

    img {
      width: 260px;
      height: 270px;
      object-fit: cover;
      @media (min-width: 1279px) {
        width: 420px;
        height: 490px;
      }
    }

    p {
      color: #BEBFC1;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: -35px;
      margin-left: 15px;
      @media (min-width: 1279px) {
        font-size: 32px;
        margin-top: -60px;
        margin-left: 25px;
      }
    }
  }

  .more-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @media (min-width: 1279px) {
      margin: 41px 0 0;

    }
    button{
      border: none;
      background: transparent;
    }

    img{
      width: 100px;
      height: 20px;

      @media (min-width: 1279px) {
        width: 165px;
        height: 40px;
      }
    }
  }
}


.services-wrapper {
  margin-top: 50px;

  .services-item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 120px auto 0 auto;
    padding: 0 0 67px 0;
    border: 2px solid #B98C33;
    @media (min-width: 1279px) {
      width: 90%;
    }
  }

  .left-side-row {
    background: #B98C33;
    width: 30px;
    height: 300px;
    transform: rotate(-4deg);
    margin-right: -32px;
    margin-top: -30px;
    position: relative;
    z-index: 4;

    @media (min-width: 1279px) {
      margin-right: -20px;
    }
  }

  .right-side-row {
    background: #B98C33;
    width: 30px;
    height: 300px;
    transform: rotate(-5deg);
    margin-left: -35px;
    margin-top: 50px;
    position: relative;
    z-index: 4;
    @media (min-width: 1279px) {
      margin-left: -24px;
      margin-top: 70px;
    }
  }

  .text-wrapper {
    width: 90%;
    height: auto;
    background: #BEBFC1;
    padding: 30px 4px 30px 24px;
    margin-top: -80px;
    position: relative;
    z-index: 10;
    @media (min-width: 1279px) {
      width: 781px;
      padding: 55px;
    }

  }

  .ul-wrapper {
    li {
      list-style: disc;
      color: #363435;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 8px;
      line-height: 30px;

      @media (min-width: 1279px) {
        font-size: 26px;
      }
    }
  }

  .read-more-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 50px 0 0;

    button {
      width: 160px;
      height: 40px;
      font-size: 18px;
      border: 1px solid #B98C33;
      background: transparent;
      color: #B98C33;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (min-width: 1279px) {
        width: 214px;
        height: 60px;
        font-size: 24px;
      }

    }
  }
}